# Backend API URL Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000/api

# Google Search Console Verification Token
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=your_google_site_verification_token_here

# Meta / Facebook Pixel ID
NEXT_PUBLIC_FACEBOOK_PIXEL_ID=1274178732976511

# Google Analytics Measurement ID
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-P4F7DG2MCF

